---
import { getCollection } from 'astro:content';
import Base from '../../layouts/base.astro';

const posts = await getCollection('blog');
posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Base>
    <div class="w-full my-5">
        <div class="max-w-2xl mx-auto px-4">
            <h1 class="text-3xl font-bold mb-4">BLOG POSTS</h1>

            <div id="postList">
                {posts.map((post) => (
                    <article class="mb-8 post-item">
                        <p class="font-bold mb-2">
                            <a href={`/blog/${post.slug}`} class="underline hover:decoration-2 hover:underline">{post.data.title}</a>
                        </p>
                        <p class="text-zinc-300 mb-2">{post.data.description}</p>
                        <div class="flex items-center space-x-4 mb-2 text-zinc-400 text-sm">
                            <p>{post.data.date.toLocaleDateString()}</p>
                        </div>
                        {post.data.tags && (
                            <div class="flex flex-wrap gap-2">
                                {post.data.tags.map((tag: string) => (
                                    <span class="bg-neutral-800 text-zinc-300 px-2 py-1 text-xs rounded">#{tag}</span>
                                ))}
                            </div>
                        )}
                    </article>
                ))}
            </div>
        </div>
    </div>
</Base>