---
import Base from '../layouts/base.astro';
import Jester from '../components/jester.astro';

const skills = [
    { category: "Languages", items: ["Python", "C/C++", "JavaScript"] },
    { category: "Web", items: ["React", "Astro", "Remix",] },
];

const interests = ["AI / ML", "UI/UX Design", "Cyber Security", "Music", "Anime", "Graphic Design", "Biology"];

const contactLinks = [
    { 
        name: "twitter", 
        url: "https://x.com/fool739", 
        icon: "twitter",
        class: "hover:text-zinc-50" 
    },
    { 
        name: "github", 
        url: "https://github.com/fool739", 
        icon: "github",
        class: "hover:text-zinc-50"
    },
    { 
        name: "discord", 
        url: "https://discord.gg/M6NfuNSrZd", 
        icon: "discord",
        class: "hover:text-zinc-50"
    },
    {
        name: "email",
        url: "mailto:jester@fool.ltd",
        icon: "mail",
        class: "hover:text-zinc-50"
    },
    {
        name: "telegram",
        url: "https://t.me/+5JZc4cVtvAIzYTI5",
        icon: "telegram",
        class: "hover:text-zinc-50"
    },
];

---

<Base>
    <div class="max-w-2xl mx-auto p-4">
        <div class="jester block w-full my-5">
            <Jester />
        </div>
        
        <hr class="h-2 my-4 bg-zinc-50">

        <div class="space-y-8">

            <section class="bg-zinc-800 p-6">
                <h2 class="text-2xl font-bold mb-4 text-zinc-100 underline underline-offset-4">Bio</h2>
                <p class="text-zinc-300 leading-relaxed">
                    I'm a computer science student based in Texas. I like to pretend I'm a memetic presence on the internet.
                </p>
            </section>

            <section class="bg-zinc-800 p-6">
                <h2 class="text-2xl font-bold mb-4 text-zinc-100 underline underline-offset-4">Skills & Tools</h2>
                
                <div class="grid grid-cols-2 gap-6 sm:grid-cols-3">
                    {skills.map(({category, items}) => (
                        <div>
                            <h3 class="font-semibold text-zinc-100 mb-2">{category}</h3>
                            <ul class="text-zinc-300 space-y-1">
                                {items.map(item => (
                                    <li class="hover:text-zinc-100 transition-colors">{item}</li>
                                ))}
                            </ul>
                        </div>
                    ))}
                </div>
            </section>

          
            <section class="bg-zinc-800 p-6">
                <h2 class="text-2xl font-bold mb-4 text-zinc-100 underline underline-offset-4">Interests</h2>
                <div class="flex flex-wrap gap-3">
                    {interests.map(interest => (
                        <span class="px-3 py-1 bg-zinc-700 rounded-full text-zinc-300 hover:bg-zinc-600 transition-colors">
                            {interest}
                        </span>
                    ))}
                </div>
            </section>

            <section class="bg-zinc-800 p-6">
                <h2 class="text-2xl font-bold mb-4 text-zinc-100 underline underline-offset-4">Status</h2>
                <p class="text-zinc-300 leading-relaxed">
                    Currently spreading myself thin improving in multiple areas of life.
                </p>
            </section>

            <section class="bg-zinc-800 p-6 rounded-lg">
                <h2 class="text-2xl font-bold mb-4 text-zinc-100 underline underline-offset-4">Links</h2>
                <div class="flex flex-wrap gap-4">
                    {contactLinks.map(link => (
                        <a 
                            href={link.url}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="group border border-zinc-700 hover:border-zinc-50 px-4 py-2  text-zinc-300 hover:bg-zinc-700 transition-all duration-200"
                        >
                            {link.name}
                        </a>
                    ))}
                </div>
            </section>
        </div>
    </div>
</Base>